@use '../../styles/mixins.scss' as mixins;

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 4rem;
    text-align: center;
    margin: 0 auto;
    padding: 10vh 0;
    @media screen and (min-width: 1600px) {
        font-size: 6.5rem;
    }
}

form {
    @include mixins.flex-col_center;
    align-content: center;
    gap: 2vh;
    .up {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1vw;
    }
    input {
        padding: 0 0.5vw;
    }
}