@use '../../styles/mixins.scss' as mixins;
@import url('https://fonts.googleapis.com/css2?family=Meie+Script&display=swap');

.login {
    background: url('/assets/floral-bcg.png') no-repeat center/cover;
    height: 70%;
    width: 65vw;
    margin: 10vh auto;
    @include mixins.neumorphism;
}