@use '../../../styles/mixins.scss';

.catalog-card {
    margin: 1.2vh auto;
    padding: 0.8rem 0;
    font-family: 'Roboto Condensed', sans-serif;
    @media screen and (max-width: 500px) {
        width: 30vw;
        height: 38vh;
    }
    .props {
        h2 {
            cursor: pointer;
        }
        p {
            font-weight: 400;
        }
    }
    .the-image {
        position: relative;
    }
}

.catalog-card.four-size {
    height: 53vh;
    width: 22vw;
    .the-top {
        @include mixins.justify_between;
        position: relative;
        app-shovable-btn {
            position: absolute;
            left: 20.8vw;
            top: 0.2vh;
            mat-icon {
                font-size: 1.1rem;
            }
        }
    }
    h2 {
        font-size: 1rem;
        font-weight: 300;
        transition: transform 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
        &:hover {
            transform: translateX(0.3vw);
            text-decoration: underline;
        }
    }
    p {
        font-size: 1rem;
    }
    .the-image {
        height: auto;
        width: 100%;
        .desc-over {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%; /* exactly matches image size */
            background: rgba(0, 0, 0, 0.7);
            opacity: 0;
            transition: opacity 0.1s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            cursor: pointer;
            p {
                max-width: 90%;
                color: white;
                opacity: 1;
                text-align: center;
            }
        }
        &:hover .desc-over {
            opacity: 0.5;
        }
    }
}
.catalog-card.two-size {
    height: 65vh;
    width: 30vw;
    h2 {
        font-size: 1.1rem;
        font-weight: 300;
        transition: transform 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
    }
    p {
        font-size: 1.2rem;
    }
    .the-image {
        height: auto;
        width: 30.2vw;
        img {
            width: 65vh;
        }
    }
}
.catalog-card.one-size {
    height: 75vh;
    width: 45vw;
    .the-image {
        height: auto;
        width: 84vh;
        img {
            width: 84vh;
        }
    }
    h2 {
        font-size: 1rem;
    }
}