@use '../../styles/mixins.scss';

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 4rem;
    font-weight: 500;
    padding: 12vh 0 6vh 0;
    @media screen and (max-width: 500px) {
        width: 77vw;
    }
}

h1.center {
    text-align: center;
    margin: 2.15vh 10vw 0 10vw;
}
h1.left {
    text-align: left;
    margin: 5vh 0 2vh 6.3vw;
    @media screen and (min-width: 1600px) {
        margin: 5vh 0 2vh 8.3vw;
    }
}