@use '../../../styles/mixins.scss';

.cc {
    margin: -1vh 10vw;
    height: fit-content;
    padding: 7vh 0;
    padding-bottom: 13vh;
    position: relative;
    z-index: 111;
    border-radius: 7px;
    @include mixins.neumorphism;
    background: url('/assets/floral-bcg.png');
}

.cc.grid {
    display: grid;
    grid-template-columns: 16vw 16vw 16vw 16vw;
    justify-content: center;
    gap: 2vh 2vw;
    @media screen and (max-width: 500px) {
        grid-template-columns: 30vw 30vw;
    }
}

.cc.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}