@use '../../../styles/mixins.scss';

.cc {
    margin: 0 2vw;
    height: fit-content;
    margin-bottom: 35vh;
    position: relative;
}

.cc.flex-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 0;
    gap: 80vh;
}

.cc.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    gap: 27vh 0;
    @media screen and (max-width: 500px) {
        grid-template-columns: 1fr;
    }
}

.cc.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

.cc.row-two {
    display: flex;
    flex-direction: row;
    margin: 0 7vw;
}

.cc.grid-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 6vh 0;
    gap: 40vh 0;
    @media screen and (max-width: 500px) {
        grid-template-columns: 1fr;
    }
}