@use '../../../styles/mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Meie+Script&display=swap');

.display {
    @include mixins.flex-col_center;
    margin: 5vh auto;
    padding: 10vh;
    min-height: 77vh;
    width: 95vw;
    .img-wrap {
        position: relative;
        &::before {
            content: '🡐';
            font-size: 2.5rem;
            position: absolute;
            right: 74vw;
            top: 33vh;
            display: none;
        }
        &::after {
            content: '🡒';
            font-size: 2.5rem;
            position: absolute;
            left: 74vw;
            bottom: 38.5vh;
        }
    }
    img {
        height: 75vh;
    }
    ul {
        @include mixins.row-justify_center;
        gap: 1vw;
        margin-top: 2.5vh;
        li {
            font-size: 1rem;
        }
    }
}