@use '../../../styles/mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Meie+Script&display=swap');

.display {
    @include mixins.flex-col_center;
    margin: 5vh auto;
    padding: 10vh;
    min-height: 77vh;
    width: 95vw;
    ul {
        @include mixins.row-justify_center;
        gap: 1vw;
        margin-top: 2vh;
        li {
            font-size: 1rem;
        }
    }
}