@use '../../styles/mixins.scss';

.catalog-card {
    height: 49vh;
    width: 15vw;
    margin: 1.2vh auto;
    padding: 0.8rem 1.3rem;
    position: relative;
    border-radius: 10px;
    @include mixins.glassmorphic-arctic;
    @media screen and (max-width: 500px) {
        width: 30vw;
    }
    .props {
        h2 {
            text-decoration: underline;
        }
        p {
            font-size: 1rem;
        }
    }
    .stock {
        padding-bottom: 1vh;
    }
    .the-image {
        position: relative;
        height: auto;
        width: 100%;
        .desc-over {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%; /* exactly matches image size */
            border-radius: 8px;
            background: rgba(0, 0, 0, 0.7);
            opacity: 0;
            transition: opacity 0.1s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            cursor: pointer;
            p {
                color: white;
                opacity: 1;
            }
        }
        &:hover .desc-over {
            opacity: 0.5;
        }
    }
}