@use '../../styles/mixins.scss' as mixins;

#header {
        font-family: 'Roboto Condensed', sans-serif;
        width: 85%;
        height: 9vh;
        box-shadow: -10px 10px 20px 5px rgba(255, 255, 255, 0.04), 10px -10px 20px 5px rgba(0, 0, 0, 0.08);
        margin: 3vh auto;
    img {
        width: 15%;
        height: 80%;
        margin: auto 2vw;
        cursor: pointer;
    }
    h2 {
        font-size: 2rem;
    }
    .primary-btnList {
        font-size: 1.1rem;
        @include mixins.row-justify_center;
        align-items: center;
        height: 100%;
        margin: auto 0.3vw;
        transition: 0.3s;
        &:hover {
            border-radius: 30px;
            @include mixins.neumorphism-inset;
        }
    }
    .shovable-btnList {
        @include mixins.row-justify_center;
        width: 9rem;
        margin: auto 2vw;
        mat-icon {
            transition: opacity 0.2s ease-in-out;
        }
        mat-icon:hover {
            opacity: 0.5;
        }
    }
}

@media screen and (min-width: 1600px) {
    mat-icon {
        font-size: 1.6rem;
    }
}