@use '../../styles/mixins.scss' as mixins;

#header {
        font-family: 'Roboto Condensed', sans-serif;
        width: 85%;
        height: 9vh;
        box-shadow: -10px 10px 20px 5px rgba(255, 255, 255, 0.04), 10px -10px 20px 5px rgba(0, 0, 0, 0.08);
        margin: 3vh auto;
    img {
        width: 15%;
        height: 80%;
        margin: auto 2vw;
        cursor: pointer;
    }
    .primary-btnList {
        font-size: 1.1rem;
        display: flex;
        flex-direction: row;
        margin: auto 0.3vw;
        &:hover {
            @include mixins.neumorphism;
        }
    }
    .shovable-btnList {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 8rem;
        margin: auto 2vw;
        &:hover {
            @include mixins.neumorphism;
        }
        mat-icon:hover {
            opacity: 0.5;
        }
    }
}