@use '../../styles/mixins.scss' as mixins;

.contact-us {
    h1 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 4rem;
        text-align: center;
        margin: 0 auto;
        padding: 10vh 0 7vh 0;
        @media screen and (min-width: 1600px) {
            font-size: 6.5rem;
        }
        @media screen and (max-width: 500px) {
            font-size: 3rem;
            margin-top: 8vh;
        }
    }
    form {
        margin: 6vh auto;
        padding: 0.5vh 0;
        width: 60%;
        height: 45vh;
        @include mixins.flex-col_center;
        align-content: center;
        gap: 2vh;
        font-size: 1rem;
        @media screen and (max-width: 500px) {
            margin: 3vh auto;
        }
        .top-row {
            display: flex;
            flex-direction: row;
            gap: 2vw;
            input {
                width: 21vw;
                height: 5.5vh;
                padding: 0 1vw;
                border: 1px solid black;
            }
        }
        input, textarea {
            border: 1px solid black
        }
        input[type=email] {
            width: 97.5%;
            height: 16vh;
            padding: 0 1vw;
        }
        textarea {
            padding: 1vh 1vw;
            width: 97.5%;
            height: 55vh;
            position: relative;
        }
        input[type=submit] {
            background-color: #ffe4e6;
            padding: 1.4vh 2vw;
            transition: background-color 0.3s ease-in-out;
            align-self: flex-start;
            margin-left: 0.55vw;
            cursor: pointer;
            &:hover {
                background-color: #fda4af;
            }
        } 
        .char-count {
            padding: 1vh 2vw;
            position: absolute;
            bottom: 23vh;
            left: 66.3vw;
            font-size: 0.9rem;
        }
    }
}