@use '../../../styles/mixins.scss' as mixins;
@import url('https://fonts.googleapis.com/css2?family=Meie+Script&display=swap');

.login {
    height: 90%;
    width: 65vw;
    padding: 10vh 0;
    margin: 0 auto;
    margin-top: 2.1vh;
    margin-bottom: 8vh;
}

.signup {
    height: 90%;
    width: 65vw;
    padding: 10vh 0;
    margin: 0 auto;
    margin-top: 2.1vh;
    margin-bottom: 7vh;
}

.contact {
    width: 75vw;
    padding: 4.5vh 0;
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: -1vh;
}