@use '../../../styles/mixins.scss' as mixins;
@import url('https://fonts.googleapis.com/css2?family=Meie+Script&display=swap');

.login {
    height: 70%;
    width: 65vw;
    padding: 4.5vh 0;
    margin: 6vh auto;
}