@use '../../styles/mixins.scss' as mixins;
@import url('https://fonts.googleapis.com/css2?family=Meie+Script&display=swap');

.login {
    background: url('/assets/floral-bcg.png') no-repeat center/cover;
    height: 70%;
    width: 65vw;
    margin: 10vh auto;
    @include mixins.neumorphism;
    h1 {
        font-family: 'Meie Script', cursive;
        font-size: 5rem;
        text-align: center;
        margin: 0;
        padding: 14vh 0;
    }
    h2 {
        margin: 3px auto;
        text-align: center;
        span {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

form {
    @include mixins.neumorphism;
    background-color: #f5f6f5;
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 60%;
    margin: 0 auto;
    input[type='submit'] {
        font-size: 1.1rem;
        @include mixins.neumorphism;
        transition: background-color 0.3s ease-in-out;
        &:hover {
            background-color: #f0f0f0;
        }
    }
}

.login-params {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 1vh 2.4vh;
    padding: 2vh 2vw;
    padding-top: 3vh;
    margin: 0 auto;
}