@use '../../styles/mixins.scss' as mixins;
@import url('https://fonts.googleapis.com/css2?family=Meie+Script&display=swap');

.display {
    display: flex;
    flex-direction: row;
    margin: 10vh auto;
    width: 70%;
    height: 65vh;
    box-shadow: -10px 10px 20px 5px rgba(255, 255, 255, 0.04), 10px -10px 20px 5px rgba(0, 0, 0, 0.08);
    .display_l {
        width: 67%;
        background: url('/assets/floral-bcg.png') no-repeat center/cover;
        @include mixins.flex-col_center;
        justify-content: center;
        gap: 15vh;
        @media screen and (min-width: 1600px) {
            width: 71%;
        }
        h1 {
            font-size: 5rem;
            font-family: "Meie Script", cursive;
            @media screen and (min-width: 1600px) {
                font-size: 7rem;
            }
        }
        .the-buttons {
            width: 60%;
            @include mixins.flex-col_center;
            justify-content: center;
            align-content: center;
            gap: 3vh;
        }
    }
    .display_r {
        width: 33%;
        img {
            height: 100%;
        }
    }
}