@use '../../../styles/mixins.scss';

.cart-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 0;
    width: 55vw;
    .left {
        @include mixins.row-align_center;
        gap: 2vw;
        img {
            width: 7vw;
            height: 20vh;
        }
        .words {
            display: flex;
            flex-direction: column;
            gap: 2vh;
            h2 {
                font-size: 1.5rem;
                font-weight: 400;
            }
            p {
                font-size: 1.2rem;
                font-weight: 300;
            }
        }
    }
    .right {
        @include mixins.flex-col_center;
        .inc-dec {
            @include mixins.row-justify_center;
            app-shovable-btn mat-icon {
                font-size: 1rem;
            }
        }
    }
}