@use '../../styles/mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Meie+Script&display=swap');

.navigate {
    display: flex;
    gap: 2vw;
    position: absolute;
    top: 96%;
    left: 36%;
    @media screen and (max-width: 500px) {
        left: 24%;
    }
    li {
        cursor: pointer;
        font-size: 1rem;
        &:hover {
            text-decoration: underline 1.5px;
        }
    }
}
