@use '../../styles/mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Meie+Script&display=swap');

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    position: sticky;
    top: 12vh;
    z-index: 10;
    margin-top: 6vh;
    margin-bottom: 2vh;
    padding-left: 3vw;
    padding-right: 3vw;
    .filter {
        display: flex;
        flex-direction: row;
        gap: 2vw;
        li {
            font-weight: 300;
            cursor: pointer;
        }
    }
    .view {
        #title {
            font-weight: 500;
        }
        display: flex;
        flex-direction: row;
        gap: 1vw;
    }
}
